body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.hd-page {
  position: relative;
}

.hd-navigation-container {
  position: fixed;
  top: 3%;
  left: 2%;
}

.hd-contact-container {
  position: fixed;
  bottom: 3%;
  left: 2%;
}

.hd-container {
  position: absolute;
  left: 50%;
  width: 30%;
}

.hd-image--first {
  position: relative;
  width: 100%;
  margin: 5% 0% 5% 0%;
}

.hd-image {
  position: relative;
  width: 100%;
  margin: 0% 0% 5% 0%;
}

.hd-scissors-container {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 10%;
}

.hd-gif {
  width: 100%;
}
