body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: courier;
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

button, input[type="submit"], input[type="reset"] {
 background: none;
 color: inherit;
 border: none;
 padding: 0;
 font: inherit;
 cursor: pointer;
 outline: inherit;
}

.hd-page {
  position: relative;
  animation-name: load;
  animation-duration: 3s;
}

.hd-navigation-container {
  position: fixed;
  top: 3%;
  left: 2%;
}

.hd-contact-container {
  position: fixed;
  bottom: 3%;
  left: 2%;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hd-container {
  position: absolute;
  left: 50%;
  width: 30%;
}

.hd-aries-container {
  position: absolute;
  left: 50%;
  width: 30%;
  display: none;
}

.hd-image--first {
  position: relative;
  width: 100%;
  margin: 5% 0% 5% 0%;
}

.hd-image {
  position: relative;
  width: 100%;
  margin: 0% 0% 5% 0%;
}

.hd-scissors-container {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 10%;
}

.hd-gif {
  width: 100%;
}
